/* property css */
.sub-nav ul > li.booking a {
	background-color: #2c9cb6 !important;

}

.sub-nav ul > li.booking a:hover {
	background-color: #1c6e81 !important;
}

.nav ul > li:hover > div, .nav ul > li.active > div, .sub-nav ul > li:hover {
	border-bottom-color: #2c9cb6 !important;
}

#secondary-nav dl a.selected, #secondary-nav dl a:hover {
	border-bottom-color: #2c9cb6;
}

#content .intro h2 {
	color: #2c9cb6;
}

#content a {
	color: #2c9cb6;
}

.toolbox a.button {
	color: #2c9cb6;
	border-color: #2c9cb6;
}

.toolbox a.button:hover {
	background-color: #2c9cb6;
}

.newsletter-wrap input[type="submit"] {
	background-color: #2c9cb6;
}

.newsletter-wrap input[type="submit"]:hover {
	background-color: #1c6e81;
}
a.btnCheckRates {
    color: #2c9cb6;
    border: 1px solid #2c9cb6;
}
a.btnCheckRates:hover {
	background-color: #2c9cb6;
}
.btn-prop { 
  color: #ffffff !important;
  background-color: #2c9cb6 !important;
  line-height: 40px;
  display: inline-block;
  transition: all .2s;
  -webkit-transition: all .2s;
  font-size: 14px;
  border: none !important;
  padding: 0 40px;
}

.btn-prop:hover {
  background-color: #1c6e81 !important;
}
